<!--<script src="https://example.com/fontawesome/v5.15.4/js/all.js"></script>-->
<!--<style>-->
<!--  /* The container */-->
<!--  .container {-->
<!--    display: block;-->
<!--    position: relative;-->
<!--    padding-left: 35px;-->
<!--    margin-bottom: 12px;-->
<!--    cursor: pointer;-->
<!--    font-size: 22px;-->
<!--    -webkit-user-select: none;-->
<!--    -moz-user-select: none;-->
<!--    -ms-user-select: none;-->
<!--    user-select: none;-->
<!--  }-->

<!--  /* Hide the browser's default radio button */-->
<!--  .container input {-->
<!--    position: absolute;-->
<!--    opacity: 0;-->
<!--    cursor: pointer;-->
<!--  }-->

<!--  /* Create a custom radio button */-->
<!--  .checkmark {-->
<!--    position: absolute;-->
<!--    top: 0;-->
<!--    left: 0;-->
<!--    height: 25px;-->
<!--    width: 25px;-->
<!--    background-color: #eee;-->
<!--    border-radius: 50%;-->
<!--  }-->

<!--  /* On mouse-over, add a grey background color */-->
<!--  .container:hover input ~ .checkmark {-->
<!--    background-color: #ccc;-->
<!--  }-->

<!--  /* When the radio button is checked, add a blue background */-->
<!--  .container input:checked ~ .checkmark {-->
<!--    background-color: #2196F3;-->
<!--  }-->

<!--  /* Create the indicator (the dot/circle - hidden when not checked) */-->
<!--  .checkmark:after {-->
<!--    content: "";-->
<!--    position: absolute;-->
<!--    display: none;-->
<!--  }-->

<!--  /* Show the indicator (dot/circle) when checked */-->
<!--  .container input:checked ~ .checkmark:after {-->
<!--    display: block;-->
<!--  }-->

<!--  /* Style the indicator (dot/circle) */-->
<!--  .container .checkmark:after {-->
<!--    top: 9px;-->
<!--    left: 9px;-->
<!--    width: 8px;-->
<!--    height: 8px;-->
<!--    border-radius: 50%;-->
<!--    background: white;-->
<!--  }-->


<!--</style>-->


<div class="p-3 " style="min-height: 58vh">
  <h2 class="text-center fw-bold text-dark my-3">DANH SÁCH HỌC SINH </h2>


  <div style="text-align: center">
    <i style="font-size: 30px" class="fa-solid fa-school"></i>
    <i style="font-size: 30px;padding-left: 30px" class="fa-solid fa-graduation-cap"></i>
    <i style="font-size: 30px;padding-left: 30px" class="fa-solid fa-building-columns"></i>
  </div>


  <div style="padding-top: 10px" class="row">


    <div class="col-2"></div>
    <div class="col-5">
      <input name="studentName" style="padding-left: 30px" class="form-control me-1" type="text" placeholder=""
             aria-label="Search"
             #studentName class="form-control">
    </div>
    <div class="col-3 d-flex">
      <div>
        <div>
          <label class="container">Đang học
            <input #studentStatus value="false" type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
        </div>

        <div>
          <label class="container">Đã thôi học
            <input name="studentStatus" value="true" type="radio" name="radio">
            <span class="checkmark"></span>
          </label></div>
      </div>
      <div>
        <button class="btn btn-outline-primary" type="button"

                (click)="searchStudent(studentName.value,studentStatus.value)"
        >Tìm kiếm
        </button>
      </div>
    </div>

    <div class="col-1">

    </div>


  </div>


  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table table-light table-striped table-bordered">
        <thead>
        <tr class="table-primary">
          <th class="text-center">Stt</th>
          <th>Tên</th>
          <th>Ngày sinh</th>
          <th>Lớp</th>
          <th>Học Lực</th>


        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of studentDto; let i = index">
          <td>{{i + 1}}</td>
          <td>{{item.nameStudent}}</td>
          <td>{{item.dateOfBirthStudent}}</td>
          <td>{{item.nameClazz}}</td>
          <td>{{item.studentPoint}}</td>

        </tr>
        </tbody>

      </table>
    </div>
    <div class="col-2"></div>
  </div>


</div>

<div style="margin-top: 30px">
  <nav aria-label="Page navigation example">
    <ul style="padding-right: 260px" class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Trước</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Sau</a>
      </li>
    </ul>
  </nav>
</div>



