/**
* Created by: NuongHT
* Date created: 01/03/2023
* Content: form change password
*
*/
<section>
  <div class="box">
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>

    <div class="container" style="width: 470px; height: 450px">
      <div class="form">
        <h2 style="font-family: Arial;text-align: center"> Đổi mật khẩu </h2>
        <form [formGroup]="changePassForm">
          <div class="inputBx password" style="width: 420px;margin-top: 50px">
            <input formControlName="newPass" id="password-input" type="password" name="password" required="required">
            <span style="font-family: Arial">Mật khẩu mới </span>
            <p style="color:black;font-family: Arial" *ngIf="changePassForm.controls.newPass.hasError('required')">
              Note*: Không được bỏ trống!
            </p>
            <p style="color:black;font-family: Arial" *ngIf="changePassForm.controls.newPass.hasError('minlength')">
              Note*: Ít nhất 9 - 30 kí tự!
            </p>
          </div>
          <div class="inputBx password" style="width: 420px;margin-top: 30px">
            <input formControlName="confirmPass" id="password-inp" type="password" name="password" required="required"
                   (change)="onPasswordChange()">
            <span style="font-family: Arial"> Nhập lại mật khẩu mới</span>
            <p style="color:black;font-family: Arial" *ngIf="changePassForm.controls.confirmPass.hasError('required')">
              Note*: Không được bỏ trống!
            </p>

            <p style="color:red;font-family: Arial" *ngIf="changePassForm.controls.confirmPass.hasError('mismatch')">
              Note*: Mật khẩu không khớp vs mật khẩu trước đó!
            </p>
          </div>
          <div class="inputBx">
            <button type="submit" class="btn btn-outline-dark"
                    style="font-size: 20px; padding: 5px 10px;border-radius: 15px;font-family: Arial;color: white"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
              Đồng ý
            </button>

          </div>
        </form>
        <p style="font-family: Arial">Quay lại trang chủ? <a routerLink="/">Quay lại </a></p>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hộp thoại thông báo </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="color: black; font-family: Arial"> Bạn chắc chắn muốn đổi mật khẩu tài khoản này không? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Đóng</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="changePass()"> Lưu</button>
        </div>
      </div>
    </div>
  </div>

</section>

