<form [formGroup]="classCreate" (ngSubmit)="saveClass()">
  <div class="row m-0">
    <div class=" d-flex justify-content-center align-items-center mt-2 mb-2 " style="height: 400px">
      <div class="boxed shadow h-100"
           style="align-content: center; margin-bottom: 250px;margin-top: 288px; padding-left: 30px;padding-right: 30px">
        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <a class="btn text-center text-primary"><i class="fa-solid fa-arrow-left"></i></a>
          </div>
          <div class="mb-2 row">
            <fieldset>
              <legend>
                <div class="mt-0 text-center fw-bold">
                  <h1>Tạo mới lớp chọn lớp</h1>
                </div>
                <br>
              </legend>
            </fieldset>
          </div>
        </div>
        <div class="mb-2 row " style="margin-top: 80px">
          <div style="display: flex">
            <div class="col-9" style="display: block">
              <div style="margin-bottom: 20px">
                <span>Nhập tên lớp :</span> <span style="width: 20px; display: inline-flex  ">
              <input type="text" formControlName="clazzName" style="width: 500px;margin-left: 3px;background: #CFE2FF; border: 1px solid #212529" class="form-control"></span>
                <p style="color: red" *ngIf="classCreate.controls.clazzName.hasError('sai')">Lớp đã tồn tại vui lòng nhập lại</p>
              </div>
            </div>
            <div class="col-3" style="text-align: right">
              <label>
                            <span style="text-align: right; display: inline-flex"><button class="btn btn-primary"
                                                                                          style="width: 100px;">Tạo lớp</button></span>
              </label>
            </div>

          </div>
        </div>
        <div class="mb-2 row">
          <div style="display: flex">
            <div style="margin-bottom: 20px">
              <span>Giáo viên chủ nhiệm :</span> <span style="width: 20px; display: inline-flex  ">
                        <select formControlName="teacherDto" class="form-select" style="width: 500px ;  margin-left: 3px; background: #CFE2FF; border: 1px solid #212529">
                            <option selected value="">---Hãy chọn giáo viên chủ nhiệm---</option>
                            <option *ngFor="let t of teacherList" [ngValue]="t">{{t.teacherName}}</option>
                        </select>
                        </span>

            </div>
          </div>
        </div>
        <div class="mb-2 row">
          <div style="display: flex">
            <div style="margin-bottom: 20px">
              <div style="margin-bottom: 20px">
                <span>Nhập niên khóa :</span> <span style="width: 20px; display: inline-flex  ">
              <input type="text" formControlName="schoolYear" style="width: 500px;margin-left: 3px;background: #CFE2FF; border: 1px solid #212529" class="form-control" class="form-control"></span>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
